{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="{% static 'presc/styles.css' %}">
</head>
<body>
	<h1>Welcome, {{ username }}</h1>
	<form method="post">
		{% csrf_token %}
		<label for="sent" id="text">Type your sentence</label><br>
		<input type="text" id="sent" name="sent" /><br>
		<input type="submit" id="button"></input>
	</form>
</body>
</html>

