{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Landing</title>
	<link rel="stylesheet" href="{% static 'presc/register.css' %}">
</head>
<body>
	
	<div class='bold-line'></div>
	<div class='container'>
	<div class='window'>
		<div class='overlay'></div>
		<div class='content'>
		<div class='welcome'>Hello There!</div>
		<div class='input-fields'>
			
			<form method="post">
				{% csrf_token %}
				<div><button type="submit" id="button" class='ghost-round full-width'><a href="{% url 'register' %}">Sign Up</a></button></div>
				<div><button type="submit" id="button" class='ghost-round full-width'><a href="{% url 'login' %}">Sign In</a></button></div>
			</form>
		</div>
		</div>
	</div>
	</div>
</body>
</html>